.AddFooter {
    position: absolute;
    width: 1440px;
    height: 518px;
    background: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1657144026/Footer_1_mvdsye.png);
}

@media screen and (max-width: 400px) {
    .AddFooter {
        display: none;
    }
}