.LogoSlider {
    margin-left: 10%;
    margin-top: 2%;
}

.LogoSlider img {
    margin: 0 2%;
    width: 80px;
}

.LogoSliderPhone {
    display: none;
}

@media screen and (max-width: 400px) {
    .LogoSlider {
        display: none;
    }

    .LogoSliderPhone {
        display: contents;
    }

    .LogoSliderPhone img {
        padding-top: 5%;
        padding-bottom: 10%;
    }
}