.PartnerVideo {
    text-align: center;
}

.PartnerTitle h1 {
    margin-top: 5%;
    margin-right: 5%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 97.18%;
    text-align: center;
    letter-spacing: 0.02em;
}

.PartnerTitle p {
    margin-top: 5%;
    margin-left: 18%;
    position: relative;
    width: 843px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 97.18%;
}

.black {
    position: absolute;
    width: 792px;
    height: 428px;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 17%;


    background: #000000;
    border: 28px solid #E3E3E3;
    border-radius: 14px;
}

.thirdTitle {
    margin-top: 45%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 97.18%;

}

.partner {
    margin-top: 3%;
}

.partnerPhone {
    display: none;
}

@media screen and (max-width: 400px) {
    .PartnerTitle h1 {
        margin-top: 5%;
        margin-right: 5%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 97.18%;
        text-align: center;
        letter-spacing: -0.02em;
    }

    .PartnerTitle p {
        margin-top: 5%;
        margin-left: 1%;


    }

    .black {
        position: absolute;
        width: 344px;
        height: 220px;
        left: 23px;
        top: 1302px;

        background: #000000;
        border: 28px solid #E3E3E3;
        border-radius: 14px;
    }

    .partner {
        display: none;
    }
}